@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.field {
	display: flex;
	flex-direction: column;
}

.button {
	margin-top: 7px;
	background: purple;
	color: gainsboro;
}

table {
	display: inline-table;
	table-layout: fixed;
	margin-top: 10px;
	width: 90%;
	border: 1px solid;
	background-color:goldenrod;
  }
  
td {
	table-layout: auto;
	border-collapse: collapse;
	width: 100%;
	border: 1px solid;
  }
  td .absorbing-column {
	width: 100%;
  }

  tr {
	  display: flex;
	  flex-direction: column;
  }
  